body{
	width: 300px;
	height: 510px;
	font-size: 22px;
	margin: auto;
	background-color: gray;
	/*background-image: url('a.jpg');*/
	
}
#wrapper{
	border: 3px groove rgb(84, 109, 148);
	border-radius: 15px;
		width: 275px;
	height: 500px;
	margin: auto;
	padding:auto;
}
button{
	width: 85px;
	height: 55px;
	font-size: 18px;
	margin-left: 5px;
	margin-top: 2px;
	
}
input{
	width: 96%;
	height: 40px;
	border: 3px groove rgb(84, 109, 148);;
	border-top: 0;
	margin-left: 3px;
	margin-right: 3px;
	box-sizing: border-box;
	background-color: #F8F8FF;
	text-align: right;
}

.bkspc:after {
    content: ' \2190';
}
hr{
	border: 2px solid rgb(84, 109, 148);;
}
#on button{
	margin-top: 10px;
	font-size: 16px;
	width: 75px;
	height: 35px;
	padding-left: 0;

}
#mem{
	width: 96%;
	height: 40px;
	border: 3px groove rgb(84, 109, 148);;
	border-bottom: 0;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;
	box-sizing: border-box;
	background-color: #F8F8FF;
	text-align: right;
	font-size: 35px;
}